* {
    margin: 0;
    padding: 0;
}

/*phones*/
@media(max-width: 576px) {
    .header {
        background-image: url(../img/bgSmall.png);
    }

    .upperPart {
        display: flex;
        flex-direction: column;
    }
}

/*tablets*/
@media(max-width: 991px) {
    .header {
        min-height: 700px;
        background-image: url(../img/bgMId.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .upperPart {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

/*wide screens*/
@media(min-width: 992px) {
    .header {
        min-height: 992px;
        background-image: url(../img/bgBig.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .upperPart {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.accsA {
    text-decoration: none;
}

.accsUl {
    list-style-type: none;
}

.t-a-c {
    text-align: center;
}

.lowerPart {
    padding-top: 200px;
}