@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

* {
    font-size: 16px;
}

.article {
    width: 960px;
    margin: auto;
}

.textP {
    color: rgb(164, 173, 168);
    font-size: 0.9em;
}

.hText {
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    color: rgb(124, 124, 124);
}

.pText {
    color: rgb(98, 98, 98);
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    padding-bottom: 50px;
}

.inArticleDiv {
    float: left;
    text-align: left;
    padding-left: 40px;
}

.menuIl {
    list-style-type: none;
    display: inline;
    padding: 0 50px;
}

.menuIl:hover {
    transition: 0.5s;
    color: rgb(3, 169 244);
}

.menuA {
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.5s;
    color: rgb(98, 98,98);
}

.menuA:hover {
    transition: 0.5s;
    color: rgb(3, 169, 244);
}

.menuUl {
    margin: auto;
    text-align: center;
}

.btn {
    margin-left: 400px;
    padding: 10px 30px;
    border: solid 2px;
    border-color: rgb(98, 98, 98);
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: rgb(98, 98, 98);
    font-size: 1.1em;

}

.btn:hover {
    transition: 0.5s;
    background-color: rgb(98, 98, 98);
    color: white;

}

.header {
    padding: 30px 0;
}
